<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="img/scratch.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Fullstack Web Developer Roadmap</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="index.html">Home</a>
        <a href="courses.html">Courses</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact Us</a>
        <a href="#">Roadmap</a>
      </nav>
      <hr />
      <section class="main">
        <h1>zNova Learning Hub</h1>
        <img src="img/logo+text.png" alt="znova logo" height="100" />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero
          deleniti nemo cumque impedit, necessitatibus modi ad quia reiciendis
          culpa ullam iste nesciunt eius ipsum vitae sequi quis earum animi
          itaque!
        </p>
        <button>Our Courses</button>
      </section>
      <hr />
      <footer>
        <p>copyright &copy; 2023.</p>
      </footer>
    </div>
  </body>
</html>
